/* ================================ */
/* Headers — Dark Mode              */
/* ================================ */

[saved-theme="dark"] article h1 { color: #f37b84; }
[saved-theme="dark"] article h2 { color: #ffd98c; }
[saved-theme="dark"] article h3 { color: #9ff369; }
[saved-theme="dark"] article h4 { color: #59d5c4; }
[saved-theme="dark"] article h5 { color: #2a8aff; }
[saved-theme="dark"] article h6 { color: #b99aff; }
